$primary_color:#007bff;

$bg_gradient_red:87deg,#f5365c 0,#f56036 100%;
$bg_gradient_success:87deg,#2dce89 0,#2dcecc 100%;
$bg_gradient_info:87deg,#11cdef 0,#1171ef 100%;
$bg_gradient_warning:87deg,#fb6340 0,#fbb140 100%;
 
$achnor_color1:#fff;
$achnor_color1_hover:#ddd;

$achnor_color2:#007bff;
$achnor_color2_hover:#006ce0;

