<div class="main-content">
    <!-- Header -->
    <div class="home-product-show bg-primary pt-5 pb-7">
      <div class="container">
        <div class="header-body">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <div class="pr-5">
                <h1 class="display-2 text-white font-weight-bold mb-0">Blue-God PRO</h1>
                <h2 class="display-4 text-white font-weight-light">The All in one office.organisations manager from 0 to everything</h2>
                <p class="text-white mt-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley</p>
                <div class="mt-5">
                  <a href="" class="btn btn-neutral my-2">Explore Dashboard</a>
                  <a href="" class="btn btn-default my-2">Purchase now</a>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="row pt-5">
                <div class="col-md-6">
                  <div class="card">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow mb-4">
                        <i class="material-icons"> assignment_ind  </i>
                      </div>
                      <h5 class="h3">HR</h5>
                      <p>This software provides you great HR management power to mange all things.</p>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow mb-4">
                        <i class="material-icons"> assignment_ind  </i>
                      </div>
                      <h5 class="h3">Assets</h5>
                      <p>Here you can manage and track all your resources. You can also manage requests of offices</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pt-lg-5 pt-4">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-success text-white rounded-circle shadow mb-4">
                        <i class="material-icons"> assignment_ind  </i>
                      </div>
                      <h5 class="h3">Time and Task</h5>
                      <p>Here you can track time and task of employes and productive hours</p>
                    </div>
                  </div>
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="icon icon-shape bg-gradient-warning text-white rounded-circle shadow mb-4">
                        <i class="material-icons"> assignment_ind  </i>
                      </div>
                      <h5 class="h3">PRO Organiser</h5>
                      <p>Brodcast notification , msgs. events reminedres</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <section class="py-6 pb-9 bg-default">
      <div class="container">
        <div class="row justify-content-center text-center">
          <div class="col-md-8">
            <h2 class="display-3 text-white">A complete HTML solution</h2>
              <p class="lead text-white">
                Argon is a completly new product built on our newest re-built from scratch framework structure that is meant to make our products more intuitive,
                more adaptive and, needless to say, so much easier to customize. Let Argon amaze you with its cool features and build tools and get your project to a whole new level.
              </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="py-7">
      <div class="container">
        <div class="row row-grid justify-content-center">
          <div class="col-lg-8 text-center">
             
            <div class="text-center">
              <h4 class="display-4 mb-5 mt-5">Available on these technologies</h4>
              <div class="row justify-content-center">
                <div class="col-md-2 col-3 my-2">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Bootstrap 4 - Most popular front-end component library">
                    <img src="../../../../assets/images/logo/angular.svg" class="img-fluid rounded-circle shadow shadow-lg--hover">
                  </a>
                </div>
                 
                <div class="col-md-2 col-3 my-2">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Sketch - Digital design toolkit">
                    <img src="../../../../assets/images/logo/angular.svg" class="img-fluid rounded-circle">
                  </a>
                </div>
                <div class="col-md-2 col-3 my-2">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Angular - One framework. Mobile &amp; desktop">
                    <img src="../../../../assets/images/logo/angular.svg" class="img-fluid rounded-circle">
                  </a>
                </div>
                <div class="col-md-2 col-3 my-2">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="React - A JavaScript library for building user interfaces">
                    <img src="../../../../assets/images/logo/angular.svg" class="img-fluid rounded-circle">
                  </a>
                </div>
                <div class="col-md-2 col-3 my-2">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Laravel - The PHP Framework For Web Artisans">
                    <img src="../../../../assets/images/logo/angular.svg" class="img-fluid rounded-circle">
                  </a>
                </div>
              </div>
              <div class="row justify-content-center">
                <div class="col-md-2 col-3 my-2">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="Node.js - a JavaScript runtime built on Chrome's V8 JavaScript engine">
                    <img src="../../../../assets/images/logo/angular.svg" class="img-fluid rounded-circle">
                  </a>
                </div>
                <div class="col-md-2 col-3 my-2">
                  <a href="" target="_blank" data-toggle="tooltip" data-original-title="[Coming Soon] Adobe Photoshop - Software for digital images manipulation">
                    <img src="../../../../assets/images/logo/angular.svg" class="img-fluid rounded-circle opacity-3">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </section>
  </div>