<div class="row">
    <div class="col">
      <div class="card-wrapper">
        <!-- Custom form validation -->
        <div class="card">
          <!-- Card header -->
          <div class="card-header">
            <h3 class="mb-0">Add New Employee</h3>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <form [formGroup]="addNewEmployeeForm" class="needs-validation"  (ngSubmit)="onSubmit()" >
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="form-control-label" for="fname">First name</label>
                  <input type="text" class="form-control" id="fname" formControlName="fname" placeholder="First name"/>
                  <div class="valid-feedback" >
                    Looks good!
                  </div>
                </div>
                <div class="col-md-4 mb-3">
                  <label class="form-control-label" for="mname">Middle name</label>
                  <input type="text" class="form-control" id="mname" formControlName="lname"  placeholder="Middle name" />
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-control-label" for="lname">Last name</label>
                  <input type="text" class="form-control" id="lname" formControlName="lname"  placeholder="Last name" />
                  <div class="valid-feedback">
                    Looks good!
                  </div>
                </div>

              </div>
              <div class="form-row">
                <div class="col-md-4 mb-3">
                  <label class="form-control-label" for="email">Email/Username</label>
                  <input type="text" class="form-control" id="email" placeholder="Username" formControlName="email"  >
                  <div class="invalid-feedback">
                    Enter Valid Email
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-control-label" for="comp_idName">Company ID/Name</label>
                  <input type="text" class="form-control" id="comp_idName" placeholder="Username" formControlName="comp_idName"  >
                  <div class="invalid-feedback">
                    Enter Valid Email
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-control-label" for="designation">Designation</label>
                  <input type="text" class="form-control" id="designation" placeholder="Username" formControlName="designation"  >
                  <div class="invalid-feedback">
                    Enter Valid Email
                  </div>
                </div>

                <div class="col-md-4 mb-3">
                  <label class="form-control-label" for="role">Role</label>
                  <input type="text" class="form-control" id="role" placeholder="Username" formControlName="role"  >
                  <div class="invalid-feedback">
                    Enter Valid Email
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 mb-3">
                  <label class="form-control-label" for="ciity">City</label>
                  <input type="text" class="form-control" id="city"  formControlName="city" placeholder="City" >
                  <div class="invalid-feedback">
                    Please provide a valid city.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-control-label" for="state">State</label>
                  <input type="text" class="form-control" id="state" placeholder="State" formControlName="state">
                  <div class="invalid-feedback">
                    Please provide a valid state.
                  </div>
                </div>
                <div class="col-md-3 mb-3">
                  <label class="form-control-label" for="country">Country</label>
                  <input type="text" class="form-control" id="country" placeholder="country" formControlName="country">
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>

                <div class="col-md-3 mb-3">
                  <label class="form-control-label" for="zip_pin_code">Zip/PinCode</label>
                  <input type="text" class="form-control" id="zip_pin_code" placeholder="Zip / PinCode" formControlName="zip_pin_code">
                  <div class="invalid-feedback">
                    Please provide a valid zip.
                  </div>
                </div>

              </div>

              <div class="row">
              <div class="col-md-12 mb-3">
                <label class="form-control-label" for="address">Address</label>
                <input type="text" class="form-control" id="address" placeholder="Zip / PinCode" formControlName="address">
                <div class="invalid-feedback">
                  Please provide a valid zip.
                </div>
              </div>

            </div>

              <button class="btn btn-primary" type="submit">Submit form</button>
            </form>
          </div>
        </div>
        
      </div>
    </div>
  </div>