
@import "./assets/scss/theme_setting_variable";
@import "./assets/scss/template_styling";
@import "./assets/scss/nucleo/nucleo.scss";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
@import "./assets/font-awesome/font-awesome";


html, body { height: 100%;}
body { margin: 0; font-family: 'Montserrat', sans-serif; }
p
{
    font-size: 0.8rem;
    font-weight: 400;
}



.text-white {
    color: $white_color !important;
}

@for $i from 1 through 5 {

    .font_wt_#{nth($font_wt_array, $i)}
    {
        font-weight: nth($font_wt_array, $i);
    }
}

@for $i from 1 through 6 {

    .pad_#{nth($padding_array, $i)}
    {
        font-weight: nth($padding_array, $i);
    }
}


.navbar-collapse-header {
    display: none;
}
.navbar-brand
{
    .header-logo {width: auto;height: 30px;}
}

a{color: $achnor_color1;}
a:hover {color: $achnor_color1_hover;}

 
@media (max-width: 991.98px)
{
    .navbar-horizontal .navbar-collapse {
        position: absolute;
        z-index: 1050;
        top: 0;
        right: 0;
        left: 0;
        overflow-y: auto;
        width: calc(100% - 1.4rem);
        height: auto!important;
        margin: .7rem;
        opacity: 0;
    }
}



footer 
{
    a{color: $achnor_color2;}
    a:hover{color: $achnor_color2_hover;}
}

