<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header bg-transparent">
                <h3 class="mb-0">Emp list</h3>
            </div>
            <div class="card-body text-black"  >
                <ul>
                    <li *ngFor="let emp of emplist.data" >
                         {{emp.first_name}}
                         {{emp.email}}
                    </li>
                </ul>
            </div> 
        </div>
    </div>
     
</div>
